---
import CoolSite from '@components/CoolSite.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="cool sites">
  <body>
    <div class="my-container">
      <Header />
      <main>
        <div class="flex h-[75%] mt-2">
          <div class="w-full post">
            <div class="inner">
              <h1>😎 Cool Sites 😎</h1>
              <div class="w-1/2">
                <CoolSite name="nft price floor" href="https://nftpricefloor.com" img="v1653013442/m19y.dev/cool-sites/nftpricefloorcom_wgjt2s.webp" />
                <CoolSite name="tiny projects" href="https://tinyprojects.dev" img="v1653013442/m19y.dev/cool-sites/tinyprojectsdev_r1c8wq.webp" />
                <CoolSite name="increment" href="https://increment.com" img="v1653013442/m19y.dev/cool-sites/incrementcom_ieofhi.webp" />
                <CoolSite name="teenage engineering" href="https://teenage.engineering" img="v1653013442/m19y.dev/cool-sites/teenageengineering_uoe6c6.webp" />
                <CoolSite name="awful library books" href="https://awfullibrarybooks.net" img="v1653013442/m19y.dev/cool-sites/awfullibrarybooksnet_l3slc1.webp" />
                <CoolSite name="maya land" href="https://maya.land" img="v1654046000/m19y.dev/cool-sites/mayaland_jahqgp.webp" />
                <CoolSite name="based cooking" href="https://based.cooking" img="v1654046206/m19y.dev/cool-sites/basedcooking_wadtiq.webp" />
                <CoolSite name="uses.tech" href="https://uses.tech" img="v1654653869/m19y.dev/cool-sites/usestech_acu5pg.webp" />
                <CoolSite name="ritual dust" href="https://ritualdust.com" img="v1654654403/m19y.dev/cool-sites/ritualdustcom_f0nmhz.webp" />
                <CoolSite name="low tech magazine" href="https://solar.lowtechmagazine.com" img="v1665280499/m19y.dev/cool-sites/lowtechmagazinecom_tibedw.webp" />
                <CoolSite name="hacker stations" href="https://hackerstations.com" img="v1672366349/m19y.dev/cool-sites/hackerstationscom_xvwph7.webp" />
                <CoolSite name="standard ebooks" href="https://standardebooks.org" img="v1672367250/m19y.dev/cool-sites/standardebooksorg_t49z5k.webp" />
                <CoolSite name="web3 is going great" href="https://web3isgoinggreat.com" img="v1672367394/m19y.dev/cool-sites/web3isgoinggreatcom_mogxsw.webp" />
                <CoolSite name="The 512KB Club" href="https://512kb.club/" img="v1689993151/m19y.dev/cool-sites/512kb.club_m87jwl.webp" />
                <CoolSite name="The Metal Archives" href="https://metal-archive.com" img="v1689993280/m19y.dev/cool-sites/metal-archives.com_lqbhnm.webp" />
                <CoolSite name="Astronomy Picture of the Day" href="https://apod.nasa.gov/apod/archivepix.html" img="v1698550173/m19y.dev/cool-sites/apod.nasa.gov_apod_archivepixthml_mpmgy4.webp" />
              </div>
            </div>
          </div>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</Layout>