---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

---

<Layout title="wine night">
  <div class="pl-4 pt-4">
    <h2 class="text-2xl">Wine Night 🍷</h2>
    <div class="mt-4">
      <h3 class="text-xl">11/11/2023</h1>
      <div class="flex flex-row">
        <a target="_blank" href="https://www.totalwine.com/wine/white-wine/gruner-veltliner/gruber-roschitz-gruner-veltliner-dac-muhlberg/p/120233750">
          <Image
            alt="Gruber Roschitz Gruner Veltliner DAC Muhlberg"
            height="200"
            width="200"
            src="https://www.totalwine.com/dynamic/x1000,sq/media/sys_master/twmmedia/h3d/hb1/8805988139038.png"
            title="Gruber Roschitz Gruner Veltliner DAC Muhlberg"
          />
        </a>
        <a target="_blank" href="https://www.totalwine.com/wine/red-wine/rhone-blend/pierre-amadieu-gigondas-pas-de-laigle-grande-reserve/p/35365750?s=&igrules=true">
          <Image
            alt="Pierre Amadieu Gigondas Pas De L'Aigle Grande Reserve, 2018"
            height="200"
            width="200"
            src="https://www.totalwine.com/dynamic/x1000,sq/media/sys_master/twmmedia/hb1/h57/10140738945054.png"
            title="Pierre Amadieu Gigondas Pas De L'Aigle Grande Reserve, 2018"
          />
        </a>
        <a href="https://www.totalwine.com/wine/red-wine/aglianico/donnachiara-taurasi-aglianico/p/129852750">
          <Image
            alt="Donnachiara Taurasi Aglianico"
            height="200"
            width="200"
            src="https://www.totalwine.com/dynamic/x1000,sq/media/sys_master/twmmedia/h9e/ha1/11524016603166.png"
            title="Donnachiara Taurasi Aglianico"
          />
        </a>
        <a href="https://www.totalwine.com/wine/red-wine/tempranillo/la-rioja-alta-vina-ardanza-reserva/p/36816750?s=401&igrules=true">
          <Image
            alt="La Rioja Alta Vina Ardanza Reserva, 2015"
            height="200"
            width="200"
            src="https://www.totalwine.com/dynamic/x1000,sq/media/sys_master/twmmedia/h8d/h4d/17335518363678.png"
            title="La Rioja Alta Vina Ardanza Reserva, 2015"
          />
        </a>
      </div>
    </div>
    <div class="mt-4">
      <h3 class="text-xl">04/20/2024</h1>
    </div>
  </div>

</Layout>