---
import Layout from "@layouts/Layout.astro";

---

<Layout title="wine night">
  <div class="flex flex-col p-4">
    <p>11/11/2023</p>
    <a href="https://www.totalwine.com/wine/white-wine/gruner-veltliner/gruber-roschitz-gruner-veltliner-dac-muhlberg/p/120233750">ried muhlberg</a>
    <a href="https://www.totalwine.com/wine/red-wine/rhone-blend/pierre-amadieu-gigondas-pas-de-laigle-grande-reserve/p/35365750?s=&igrules=true">le pas de l'aigle</a>
    <a href="https://www.totalwine.com/wine/red-wine/aglianico/donnachiara-taurasi-aglianico/p/129852750">taurasi donnachiara</a>
    <a href="https://www.totalwine.com/wine/red-wine/tempranillo/la-rioja-alta-vina-ardanza-reserva/p/36816750?s=401&igrules=true">La Rioja Alta Vina Ardanza Reserva, 2015
    </a>
  </div>
</Layout>