---
import ArticleLink from '@components/ArticleLink.astro';
import BookLink from '@components/BookLink.astro';
import GradientBar from '@components/GradientBar.astro';
import Layout from '@layouts/Layout.astro';
import Spotify from '@components/Spotify.astro';

import articles from '@public/arcticles.json';
---

<Layout title="rwl 2023">
  <div class="inner">
    <div class="flex flex-row justify-between">
      <a href="/rwl/2022">&lt; 2022</a>
      <h1 class="text-lg">2023</h1>
      <a href="/rwl/2024">2024 &gt;</a>
    </div>
    <p style="float: right">⏳ - In Progress</p>
    <p style="float: right">🎧 - Audio book</p>
    <div>
      <h2>books</h2>
      <BookLink href="How_to_Win_Friends_and_Influence_People" label="How to Win Friends and Influence People" wiki inProgress audiobook/>
      <BookLink href="The_Intelligent_Investor" label="The Intelligent Investor" wiki inProgress />
      <BookLink href="https://www.penguinrandomhouse.com/books/573452/cheap-land-colorado-by-ted-conover/" label="Cheap Land Colorado" complete />
      <BookLink href="https://jamesclear.com/atomic-habits" label="Atomic Habits" complete audiobook />
      <BookLink href="The_Rise_of_Theodore_Roosevelt" label="The Rise of Theodore Roosevelt" inProgress audiobook />
      <BookLink href="https://en.wikipedia.org/wiki/Blood_Meridian" label="Blood Meridian" inProgress />
    </div>
    <hr/>
    <div>
      <h2>
        articles
      </h2>
      <div class="flex flex-row">
        <div class="flex flex-col">
          {
            articles["2023"].map((article) => <ArticleLink article={article} /> )
          }
        </div>
      </div>
    </div>
    <hr/>
    <hr/>
    <div>
      <h2>albums</h2>
      <p>I really jumped back into listening to music this year. I sort of stopped caring about keeping up and/or delving into old albums around 2020.</p>
      <p>I was stuck in a loop of podcasts while occasionally checking out a new album or revisiting an old favorite.</p>
      <div class="title-link">
        <b>Rotting Christ</b> - <i class="love">Thy Mighty Contract (1993)</i>
        <div class="lg:w-[25vw]">
          <Spotify album="4bata8AhdwmbOxMmZw61a2" />
        </div>
        <br/>
        &ensp; <p>I'm still working through the classics of all the metal subgenres and I finally got around to this one.</p>
        <p>By the name I honestly thought I would be another Norwegianesque blastfest but I was so pleasently surprised.</p>
        <p>This album was such a nice transition from my journey into NWOBHM and thrash, back to bm. They perfectly mix groove, melody, and thrashing with black metal vox and blast beats.</p>
        <p>This quickly became on of my top 10 bm albums.</p>
      </div>
      <div class="title-link">
        <b>Varathron</b> - <i class="love">His Majesty at the Swamp (1993)</i>
        <div class="lg:w-[25vw]">
          <Spotify album="6KoSsDPYqOaq9xR1NQDm6U" />
        </div>
        <br/>
        &ensp; <p>After finally checking out TMC, I had to check out other classic Hellenic albums.</p>
        <p>This album is a fantastic companion to TMC and I've heard members of RC play on this one (the riff on Lustful Father was a dead giveaway).</p>
        <p>Just as fantastic as TMC and could overtake TMC as one of my favorites with more spins.</p>
      </div>
    </div>
    <div class="title-link">
      <b>Agriculture</b> - <i class="meh">Agriculture (2023)</i>
      <div class="lg:w-[25vw]">
        <Spotify album="12vzq91UrxC2r3zcHnhaiX" />
      </div>
      <br/>
      &ensp; <p>I wanted to chronicle this one so I can revisit in the future.</p>
      <p>I'm rating as meh as it doesn't stick with me but I didn't hate what I heard.</p>
      <p>Quickly reading about them I see this term "estatic black metal" and "joyful" descriptors.</p>
      <p>Not sure how I feel about the gimmick but I want to keep up with them. I'm sure they're despised in the trad bm scene similar to Deafheaven and other "hipster bm".</p>
      <p>Their logo rules though lol.</p>
    </div>
    <div class="title-link">
      <b>Catherine Wheel</b> - <i class="love">Ferment (1992)</i>
      <div class="lg:w-[25vw]">
        <Spotify album="7LLZLkkBTR42Kb9JPRAzKb" />
      </div>
      <br/>
      &ensp; <p>Wow. This album man. I hopped on the shoegaze bandwagon in the early 2010's when numerous hardcore bands started aping the style.</p>
      <p>Most of the classics did nothing for me as I was still accustomed to breakdowns and blast beats. Hum were really the only band that stuck out.</p>
      <p>During the summer I decided to delve into some classics again and with a focus on "bands that inspired Nothing" and Catherine Wheel was on the top of that list.</p>
      <p>From track 1 I was hooked. There's plenty of heaviness that I don't hear in a lot of other Brit bands from that era, which I love.</p>
      <p>The only miss on the album for me if I Want To Touch You, a single off Ferment. It has the classic jangly Brit pop-rock sounds that I absolutely despise.</p>
      <p>Luckily that song is an outlier and the rest of the album is a divine mix of heavy, ethereal and overall super catchy rock.</p>
      <p>Highly recommend. Also listen to Nothing :)</p>
    </div>
    <div class="title-link">
      <b>GUDSFORLADT</b> - <i class="love">Friendship, Love and War (2022)</i>
      <div class="lg:w-[25vw]">
        <Spotify album="6pwwXi1lkq446RXMih9nHn" />
      </div>
      <br/>
      &ensp; <p>I need more time with this one but I like what I heard. It's lofi without sounding like shit. The aethestics are great as well.</p>
    </div>
    <p class="text-lg">A whole lot of Doom</p>
    <p>One day I decided to listen to the entire Black Sabbath discography; I had never listened to full BS album prior. I don't remember the original motivation but I'm glad I did.</p>
    <p>I always associated Sabbath with dad/butt rock since it was mixed in with Puddle of Mudd and Seether on the radio.</p>
    <p>As I eventually migrated to metal from hardcore I always skipped over Doom and never thought to really check out Sabbath.</p>
    <p>Sabbath is incredible. The amount of hits on the first two albums is insane and the later albums are obviously major inspiration on not only modern doom but all metal.</p>
    <p>I honestly couldn't believe that those original Sabbath albums were released in the early 70's.</p>
    <div class="title-link">
      <b>Black Sabbath</b> - <i class="love">Friendship, Love and War (2022)</i>
      <div class="lg:w-[25vw]">
        <Spotify album="4ZLy3U2q17Yjw7jkjXPJQj"
      </div>
      &ensp; <p>Sabbath was my entry point into the Doom rabbit hole. What I found were some incredible albums that I regret not looking into earlier.</p>
      <p>In the future I'd like to analyze these albums more in depth.</p>
      <div class="title-link">
        <b>Pagan Altar</b> - <i class="love">Judgement of the Dead (1984)</i>
        <div class="lg:w-[25vw]">
          <Spotify album="3owmZAYFSoNvDXLy0j9TxX" />
        </div>
      </div>
      <div class="title-link">
        <b>Pentagram</b> - <i class="love">Relentless (1993)</i>
        <div class="lg:w-[25vw]">
          <Spotify album="7yM5xua4r2gtT1qAUFYSdr" />
        </div>
      </div>
      <div class="title-link">
        <b>Solitude Aeturnus</b> - <i class="love">Into the Depths of Sorrow (1991)</i>
        <div class="lg:w-[25vw]">
          <Spotify album="02iH5pxrznY3IgAc6ZQBbk"
        </div>
      </div>
      <div class="title-link">
        <b>Trouble</b> - <i class="love">Psalm 9 (1991)</i>
        <div class="lg:w-[25vw]">
          <Spotify album="36Ml1dybEUn95Ka3f6c3hn" />
        </div>
      </div>
      <div class="title-link">
        <b>Thergothon</b> - <i class="love">Stream From The Heavens (1994)</i>
        <div class="lg:w-[25vw]">
          <Spotify album="2cnVd2w8adi6kIo5DfErRk" />
        </div>
      </div>
    </div>
    <p>All of these bands / albums are amazing in their own right and all owe at least part of their sounds to Sabbath.</p>
    <br/>
    <GradientBar />
  </div>
</Layout>