---
import ArticleLink from '@components/ArticleLink.astro';
import BookLink from '@components/BookLink.astro';
import GradientBar from '@components/GradientBar.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="rwl 2023">
  <div class="inner">
    <div class="flex flex-row justify-between">
      <a href="/rwl/2022">&lt; 2022</a>
      <h1 class="text-lg">2023</h1>
      <a href="/rwl/2024">2024 &gt;</a>
    </div>
    <p style="float: right">⏳ - In Progress</p>
    <p style="float: right">🎧 - Audio book</p>
    <div>
      <h2>books</h2>
      <BookLink href="How_to_Win_Friends_and_Influence_People" label="How to Win Friends and Influence People" wiki inProgress audiobook/>
      <BookLink href="The_Intelligent_Investor" label="The Intelligent Investor" wiki inProgress />
      <BookLink href="https://www.penguinrandomhouse.com/books/573452/cheap-land-colorado-by-ted-conover/" label="Cheap Land Colorado" complete />
      <BookLink href="https://jamesclear.com/atomic-habits" label="Atomic Habits" complete audiobook />
      <BookLink href="The_Rise_of_Theodore_Roosevelt" label="The Rise of Theodore Roosevelt" inProgress audiobook />
      <BookLink href="https://en.wikipedia.org/wiki/Blood_Meridian" label="Blood Meridian" inProgress />
    </div>
    <hr/>
    <div>
      <h2>
        articles
      </h2>
      <div class="flex flex-row">
        <div class="flex flex-col">
          <ArticleLink archive="https://web.archive.org/web/20230128035309/https://kwon.nyc/notes/2022/" href="https://kwon.nyc/notes/2022/" label="2022 in review" />
          <ArticleLink archive="https://web.archive.org/web/20230126152826/https://sambf.substack.com/p/ftx-pre-mortem-overview" href="https://sambf.substack.com/p/ftx-pre-mortem-overview" label="FTX Pre-Mortem Overview" />
          <ArticleLink archive="https://web.archive.org/web/20230828233635/https://www.robkhenderson.com/p/the-age-30-crisis-and-seasons-of" href="https://www.robkhenderson.com/p/the-age-30-crisis-and-seasons-of" label="The Age 30 Crisis and Seasons of a Man's Life" />
          <ArticleLink archive="https://web.archive.org/web/20230126185034/https://snowingpine.com/2023/01/05/on-trucking" href="https://snowingpine.com/2023/01/05/on-trucking" label="On Trucking" />
          <ArticleLink archive="https://web.archive.org/web/20230912061710/https://www.kodingkitty.com/blog/how-to-build-a-website/" href="https://www.kodingkitty.com/blog/how-to-build-a-website/" label="How to build a website without frameworks and tons of libraries" />
          <ArticleLink archive="https://web.archive.org/web/20231113013859/https://pthorpe92.github.io/intro/my-story/" href="https://pthorpe92.github.io/intro/my-story/" label="How I got here." />
          <ArticleLink archive="https://web.archive.org/web/20231113080715/https://html-first.com/" href="https://html-first.com/" label="HTML First" />
          <ArticleLink archive="https://web.archive.org/web/20230626154926/https://www.outsideonline.com/outdoor-adventure/climbing/austin-howell-fallen-soloist/" href="https://www.outsideonline.com/outdoor-adventure/climbing/austin-howell-fallen-soloist/" label="The Free Soloist Who Fell to Earth" />
          <ArticleLink archive="https://web.archive.org/web/20230613151456/https://sashachapin.substack.com/p/in-praise-of-blowing-up-your-life" href="https://sashachapin.substack.com/p/in-praise-of-blowing-up-your-life" label="In Praise of Blowing Up Your Life" />
        </div>
      </div>
    </div>
    <hr/>
    <!-- <div>
      <h2>comments</h2>
      <div class="row">
        <div class="column">
          <details>
            <summary>
              lorem ipsum <a target="_blank" href="link">🔗</a>
            </summary>
            <blockquote>
          </blockquote>
          </details>
        </div>
        <div class="column">
          <details>
            <summary>
              lorem ipsum <a target="_blank" href="link">🔗</a>
            </summary>
            <blockquote>
          </blockquote>
          </details>
        </div>
      </div>
    </div> -->
    <hr/>
    <!-- <div>
      <h2>albums</h2>
      <p class="title-link">
        <b>foobar</b> - <i class="love">foobar</i>
        <a target="_blank" href="link">
          [spotify]
        </a>
        <br/>
        &ensp; <span>lorem ipsum</span>
      </p>
    </div> -->
    <br/>
    <GradientBar />
  </div>
</Layout>