---
import ArticleLink from '@components/ArticleLink.astro';
import BookLink from '@components/BookLink.astro';
import GradientBar from '@components/GradientBar.astro';
import Layout from '@layouts/Layout.astro';

import articles from '@public/arcticles.json';
---

<Layout title="rwl 2023">
  <div class="inner">
    <div class="flex flex-row justify-between">
      <a href="/rwl/2022">&lt; 2022</a>
      <h1 class="text-lg">2023</h1>
      <a href="/rwl/2024">2024 &gt;</a>
    </div>
    <p style="float: right">⏳ - In Progress</p>
    <p style="float: right">🎧 - Audio book</p>
    <div>
      <h2>books</h2>
      <BookLink href="How_to_Win_Friends_and_Influence_People" label="How to Win Friends and Influence People" wiki inProgress audiobook/>
      <BookLink href="The_Intelligent_Investor" label="The Intelligent Investor" wiki inProgress />
      <BookLink href="https://www.penguinrandomhouse.com/books/573452/cheap-land-colorado-by-ted-conover/" label="Cheap Land Colorado" complete />
      <BookLink href="https://jamesclear.com/atomic-habits" label="Atomic Habits" complete audiobook />
      <BookLink href="The_Rise_of_Theodore_Roosevelt" label="The Rise of Theodore Roosevelt" inProgress audiobook />
      <BookLink href="https://en.wikipedia.org/wiki/Blood_Meridian" label="Blood Meridian" inProgress />
    </div>
    <hr/>
    <div>
      <h2>
        articles
      </h2>
      <div class="flex flex-row">
        <div class="flex flex-col">
          {
            articles["2023"].map((article) => <ArticleLink article={article} /> )
          }
        </div>
      </div>
    </div>
    <hr/>
    <!-- <div>
      <h2>comments</h2>
      <div class="row">
        <div class="column">
          <details>
            <summary>
              lorem ipsum <a target="_blank" href="link">🔗</a>
            </summary>
            <blockquote>
          </blockquote>
          </details>
        </div>
        <div class="column">
          <details>
            <summary>
              lorem ipsum <a target="_blank" href="link">🔗</a>
            </summary>
            <blockquote>
          </blockquote>
          </details>
        </div>
      </div>
    </div> -->
    <hr/>
    <!-- <div>
      <h2>albums</h2>
      <p class="title-link">
        <b>foobar</b> - <i class="love">foobar</i>
        <a target="_blank" href="link">
          [spotify]
        </a>
        <br/>
        &ensp; <span>lorem ipsum</span>
      </p>
    </div> -->
    <br/>
    <GradientBar />
  </div>
</Layout>