---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Posts">
  <div class="flex-grid">
    <div class="container post">
      <div class="inner">
        <h1 class="text-xl">Posts</h1>
        <div>
          <p class="">
            * <a href="posts/resizable-vuetify-table.html">How to make a resizable Vuetify data table</a>
          </p>
        </div>
        <div>
          <p class="">
            * <a href="posts/upgrade-wiki-js-heroku.html">How to Upgrade Wiki Js Heroku deployment</a>
          </p>
        </div>
        <div>
          <p class="">
            * <a href="posts/configuring-flutter-linux-mint.html">How to Configure Flutter / Android Studio on Linux Mint</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</Layout>