---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';

import externalLink from '@img/external-link.svg';
---

<Layout title="Random">
  <body>
    <div class="my-container">
      <Header />
      <main>
        <div class="flex h-[75%] mt-2">
          <div class="container post">
            <div class="inner">
              <div class="page-title">
                <h1>Random 📜</h1>
              </div>
              <div class="centered-div">
                <p><a href="random/merch-collection.html">Merch Collection</a></p>
                <p class="flex flex-row">
                  <a target="_blank" href="@docs/50_ui_tips.pdf">50 UI Tips</a>
                  <img src={externalLink} height="12"/>
                </p>
                <p class="flex flex-row">
                  <a href="https://maxrickettsuy.github.io/bookmarks/" target="_blank" rel="noopener noreferrer">Bookmarks</a>
                  <img src={externalLink} height="12"/>
                </p>
                <p>
                  <a href="random/cool-sites.html">Cool Sites</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</Layout>