---
import Badge from '@components/Badge.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="uses">
  <div class="p-4">
    <div class="flex flex-col pb-4">
      <span class="text-4xl flex-[1]">uses 🖥️</span>
      <span>Last updated: 11/14/2023</span>
    </div>
    <h2 class="text-2xl">Hardware</h2>
    <div class="flex flex-col gap-2 lg:m-4 sm:p-4">
      <div class="flex flex-col sm:flex-row sm:max-w-[60vw] gap-2 shadow-md border border-dashed">
        <div class="flex-[1] p-4">
          <p class="text-xl">iPhone SE (2020)</p>
          <p>I migrated from Android to iOS around 2020. Being frugal (*cough broke) I always opted for cheap phones.
          Eventually I tired of poor build quality and the lack of the Android updates for these phones. I used a used iPhone 6 until the 2020 SE was announced which
          was basically an upgraded 6. The price point was perfect and I still love the "outdated" 6 form factor. I plan on using it until it too sluggish or stops receiving security updates.
          </p>
          <div class="flex flex-row gap-1">
            <Badge color="gray" label="iOS 17" title="OS" />
            <Badge color="blue" label="128 GB" title="Storage" />
          </div>
        </div>
        <img class="self-center" alt="" width="200" src="/se.png" />
      </div>
      <div class="flex flex-col sm:flex-row sm:max-w-[60vw] border gap-2 shadow-md border-dashed">
        <div class="flex-[1] p-4">
          <p class="text-xl">MacBook Pro M2 14" (2023)</p>
          <p>Quite possibly the biggest splurge of my life, but man this thing rules. My last two laptops were a 2015 Dell XPS and a 2010
            MacBook Pro, two great machines. I eventually threw Linux Mint on both of them as Windows and MacOS are unusable on older machines, MacOS to a lesser extent.
            I also prefer Linux from a development perspective. But eventually I stopped using both of these machine as their internals couldn't even keep up with modern Linux.
            I'd been wanting a new MBP for a few years as I'm interested in learning iOS development but could never justify it.
          </p>
          <div class="flex flex-row gap-1">
            <Badge color="gray" label="macOS Sonoma" title="OS" />
            <Badge color="blue" label="512 GB" title="Storage" />
            <Badge color="green" label="16 GB" title="RAM" />
          </div>
        </div>
        <img class="self-center" alt="" width="300" src="/mbp.png" />
      </div>
      <div class="flex flex-col sm:flex-row sm:max-w-[60vw] border gap-2 shadow-md border-dashed">
        <div class="flex-[1] p-4">
          <p class="text-xl">Desktop</p>
          <p>
            My first foray into custom pc assembly (building lol). I bought everything in early, pre-pandemic 2020, before prices skyrocketed.
            The assembly process was stressful but enjoyable and I really enjoyed the end product. Before having our first child I did a lot of gaming: Warzone, Tarkov, Apex.
            I also dual booted Linux Mint and used it for development which was incredible with my dual (sometimes triple) monitor setup.
            Unfortanely with our recent move and pause on gaming, it's begun gathering dust as it resides in our basement office.
            I still think it will perform for over a decade as a Linux box at the very least.
          </p>
          <div class="flex flex-row gap-1">
            <Badge color="gray" label="Windows 10" title="OS" />
            <Badge color="gray" label="Linux Mint" title="OS" />
            <Badge color="blue" label="128 GB" title="Storage" />
            <Badge color="green" label="32 GB" title="RAM" />
            <Badge color="pink" label="RTX 2070 Super" title="GPU" />
          </div>
          <div class="flex sm:flex-row gap-2 p-4 mt-1 flex-wrap">
            <img src="/desktop/case.png"  width="100"/>
            <img src="/desktop/cpu.png" width="100" />
            <img src="/desktop/fan.png" width="100" />
            <img src="/desktop/gpu.png" width="100" />
            <img src="/desktop/hdd.png" width="100" />
            <img src="/desktop/mobo.png" width="100" />
            <img src="/desktop/ram.png" width="100" />
            <img src="/desktop/ssd.png" width="100" />
          </div>
          <a target="_blank" class="underline" href="https://pcpartpicker.com/user/mrucoding/saved/#view=ZtxL23">PCPartPicker List</a>
        </div>
      </div>

    </div>
    <div class="flex flex-col gap-2 m-4 sm:p-4">
      <h2 class="text-2xl">Software</h2>
      <div class="flex flex-col sm:max-w-[60vw] gap-2 shadow-md border border-dashed">
        <div class="flex-[1] p-4">
          <p class="text-xl">Professional Development</p>
          <p>
            Professional I like to use React for new project when possible. I think it has the best resources and support of the Javascript lib/frameworks.
            Similar to React I love the amount of support around MUI, it's easy to use and create an attractive, accesible UI. Gitlab has been a great experience for Git repo management CI/CD.
            The text editor journey started with Emacs and ended with Atom in school. I started my career with Atom, moved to Sublime and finally downloaded VSCode in 2018 or 2019 and haven't looked back.
            I'm not a huge fan of MSFT products with the exception of VSCode it does everything I want with few drawbacks.
          </p>
        </div>
        <div class="flex flex-row gap-4 m-4">
          <img class="self-center" alt="" width="50" src="/software/vscode.webp" />
          <img class="self-center" alt="" width="50" src="/software/react.png" />
          <img class="self-center" alt="" width="50" src="/software/mui.png" />
          <img class="self-center" alt="" width="50" src="/software/gitlab.png" />
        </div>
      </div>
      <div class="flex flex-col sm:max-w-[60vw] gap-2 shadow-md border border-dashed">
        <div class="flex-[1] p-4">
          <p class="text-xl">Personal Development</p>
          <p>
            I also use VSCode in my free time on personal projects. I've tried <a href="" target="_blank">Fleet</a> but haven't installed in on my M2 yet.
            I've migrated all my static sites to Astro; I'm pretty obsessed with it. I've been using Github since I was introduced to it by a much better developer in school.
            I use Netlify to host all my static sites. The Github integration makes config and deployment trivial. I'll use the free tier as long as possible.
          </p>
        </div>
        <div class="flex flex-row gap-4 m-4">
          <img class="self-center" alt="" width="50" src="/software/vscode.webp" />
          <img class="self-center" alt="" width="50" src="/software/astro.png" />
          <img class="self-center" alt="" width="50" src="/software/github.png" />
          <img class="self-center" alt="" width="50" src="/software/netlify.png" />

        </div>
      </div>
      <div class="flex flex-col sm:max-w-[60vw] gap-2 shadow-md border border-dashed">
        <div class="flex-[1] p-4">
          <p class="text-xl">General Use</p>
          <p>
          </p>
        </div>
        <div class="flex flex-row gap-4 m-4">
          <img class="self-center" alt="" width="50" src="/software/chrome.png" />
          <img class="self-center" alt="" width="50" src="/software/safari.png" />
          <img class="self-center" alt="" width="50" src="/software/brave.png" />
        </div>
      </div>
    </div>
  </div>
</Layout>