---
export interface Props {
    archive: string,
    href: string,
    label: string,
}

const { archive, href, label } = Astro.props;
---

<div class="lg:text-md text-md my-1">
    <a target="_blank" href={href}>
      <i>{label}</i>
    </a>
    [<a class="archive text-xs" target="_blank" href={archive}>archive</a>]
</p>
