---
interface Article {
  archive: string;
  href: string;
  label: string;
}

export interface Props {
  article: Article;
}

const { article } = Astro.props;
---

<div class="lg:text-md text-md my-1">
  <a target="_blank" href={article.href}>
    <i>{article.label}</i>
  </a>
  [<a class="archive text-xs" target="_blank" href={article.archive}>archive</a>]
</div>
