---
export interface Props {
    archive: string,
    href: string,
    label: string,
}

const { archive, href, label } = Astro.props;
---

<p class="title-link">
    <a target="_blank" href={href}>
      <i>{label}</i>
    </a>
    [<a class="archive" target="_blank" href={archive}>archive</a>]
</p>
