---
export interface Props {
    label: string,
    href: string
}

const { href, label } = Astro.props;
---

<p class="title-link">
    <i>
      <a target="_blank" href={href}>
        {label}
      </a>
    </i>⏳
</p>
