---
export interface Props {
    name: string;
    href: string;
    img: string;
}

const { href, img, name } = Astro.props;

import externalLink from '../img/external-link.svg';
---

<div>
    <div class="flex flex-row">
        <a style="text-decoration: underline; margin-right: 4px;" target="_blank" href={href}><h3>{name}</h3></a>
        <img src={externalLink} height="12"/>
    </div>
    <img style="width: 100%; border: 1px dashed; padding: 8px;" src={`https://res.cloudinary.com/shoveltoss-com/image/upload/${img}`} />
</div>