---
import '@styles/styles.css';
import '@styles/footer.css';
import '@styles/header.css';
import '@styles/main.css';
import '@styles/new.css';
import '@styles/new-styles.css';
---

<div class="siteFooter">
    <div class="siteFooter__section disclaimer-container">
      <div>
        <p class="disclaimer">
          Disclaimer: All content on this site relates to personal opinions/
          experiences and does not reflect my work, employer and/or colleagues.
        </p>
        <div class="last-updated-container">
          <p class="last-updated date" id="last-updated"></p>
        </div>
      </div>
    </div>
</div>