---
import { Image } from 'astro:assets';
import avatar from '../../public/avatar.png';

import '@styles/styles.css';
import '@styles/footer.css';
import '@styles/header.css';
import '@styles/main.css';
import '@styles/new.css';
import '@styles/new-styles.css';
---

<header class="header">
  <nav class="navbar">
    <a href="/">
      <Image width="48" height="48" src={avatar} alt="avatar" />
    </a>
    <ul class="nav-menu">
      <li class="nav-item">
        <div class="theme-switch-wrapper">
          <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
          </label>
        </div>
      </li>
    </ul>
  </nav>
</header>

<script>
    function switchTheme(e) {
        if (e.target.checked) {
          document.documentElement.setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light');
        }
        else {
          document.documentElement.setAttribute('data-theme', 'dark');
          localStorage.setItem('theme', 'dark');
        }
    }

    const toggleSwitch = document.querySelector('.theme-switch >  input');

    if(toggleSwitch) {
      toggleSwitch.addEventListener('change', switchTheme);
    }

    const currentTheme = localStorage.getItem('theme');

    if (currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme);

      if (currentTheme === 'light') {
        toggleSwitch.checked = true;
      }
    }
</script>