---
export interface Props {
    img: string
}

const { img } = Astro.props;
---

<div class="m-1 border border-dashed w-1/2">
  <a target="_blank" href=`https://res.cloudinary.com/shoveltoss-com/image/upload/${img}`>
    <img alt="" src=`https://res.cloudinary.com/shoveltoss-com/image/upload/${img}` />
  </a>
</div>

